<div class="row d-flex justify-content-center">
  <div class="col-12 col-sm-5">

    <div class="card">
      <div class="card-header bg-primary text-light text-center">
       <i class="bi bi-credit-card-2-front"></i>{{#if editMode}} Edit assets type {{assetsType.name}} {{else}} Create new assets type {{/if}}
      </div>
      <div class="card-body">

        <form method="POST" action="/assets-type/{{#if editMode}}edit{{else}}create{{/if}}">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" value="{{#if editMode}}{{assetsType.name}}{{/if}}" class="form-control" id="name" name="Name" required="required" />
          </div> 
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              type="text"
              class="form-control"
              id="description"
              name="Description"      
            >{{#if editMode}}{{assetsType.description}}{{/if}}</textarea>
          </div>

            {{#if editMode}}
                <input type="hidden" name="AssetsTypeId" value="{{assetsType._id}}" />            
             {{/if}}

          <button type="submit" class="btn btn-primary float-end"><i class="bi bi-floppy"></i> Save</button>
           <a href="/assets-type/index" class="btn btn-warning float-end me-2"><i class="bi bi-arrow-left"></i> Back to list</a>
        </form>

      </div>
    </div>

  </div>
</div>